<title>我要提现</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>我的管理</cite></a>
        <a><cite>我要提现 </cite></a>
    </div>
</div>


<div class="layui-fluid">
    <div class="layui-card" style="padding: 50px">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">激活码提现</li>
                <li>佣金提现</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form" style="margin-right: 50px;margin-top: 10px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="white-space: nowrap;">可提现金额：</label>
                            <div class="layui-input-block"
                                 style="line-height: 30px;font-size: 38px;font-weight: 500;color: red">
                                <span id="withdrawal_balance"> 0.00 </span>元
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="white-space: nowrap;">现金额：</label>
                            <div class="layui-input-block">
                                <input type="text" name="withdrawal" lay-verify="required|idcard" placeholder="请输入提现金额"
                                       autocomplete="off" class="layui-input">
                                <div class=" layui-word-aux">（请输入提现金额）</div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="white-space: nowrap;">选择提现卡：</label>
                            <div class="layui-input-block withdrawal_card">

                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="white-space: nowrap;">选择地址：</label>
                            <div class="layui-input-block withdrawal_address">

                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">备注：</label>
                            <div class="layui-input-block">
                                <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item" style="margin-top: 38px">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="submit_go">立即提交</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form" style="margin-right: 50px;margin-top: 10px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="white-space: nowrap;">可提现金额：</label>
                            <div class="layui-input-block"
                                 style="line-height: 30px;font-size: 38px;font-weight: 500;color: red">
                                <span id="withdrawal_balance2"> 0.00 </span>元
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="white-space: nowrap;">现金额：</label>
                            <div class="layui-input-block">
                                <input type="text" name="withdrawal" lay-verify="required|idcard" placeholder="请输入提现金额"
                                       autocomplete="off" class="layui-input">
                                <div class=" layui-word-aux">（请输入提现金额）</div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="white-space: nowrap;">选择提现卡：</label>
                            <div class="layui-input-block withdrawal_card">

                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="white-space: nowrap;">选择地址：</label>
                            <div class="layui-input-block withdrawal_address">

                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">备注：</label>
                            <div class="layui-input-block">
                                <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item" style="margin-top: 38px">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="submit_go2">立即提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['form', 'admin'], function () {
        var form    = layui.form
            , $     = layui.jquery
            , admin = layui.admin;
        form.render();

        form.on('radio(type)', function (data) {
            if (data.value == 1) {
                ;
                $('#none_div').show();
            } else {
                $('#none_div').hide()
            }
        });

        //表单提交
        form.on('submit(submit_go)', function (data) {
            var money = Number($('#withdrawal_balance').html());
            var withdrawal = Number(data.field.withdrawal);

            submitGo(data,money,withdrawal);

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //表单提交
        form.on('submit(submit_go2)', function (data) {
            var money = Number($('#withdrawal_balance2').html());
            var withdrawal = Number(data.field.withdrawal);

            submitGo(data,money,withdrawal);

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        // 提现金额
        admin.req({
            url: layui.setter.api_base_url + 'agent/api/my/commission/account'
            , type: 'GET'
            , success: function (data) {
                var requset_data = data.data;

                $('#withdrawal_balance').html(requset_data.balance);
                $('#withdrawal_balance2').html(requset_data.commission);

            }
        });

        // 提现卡
        admin.req({
            url: layui.setter.api_base_url + 'agent/api/my/card/list'
            , type: 'GET'
            , success: function (data) {
                var requset_data = data.data.data;
                if (!requset_data) {
                    $('.withdrawal_card').html('<button lay-href="account/account_card" class="layui-btn layui-btn-sm">添加提现卡</button>');
                } else {
                    $('.withdrawal_card').html(function () {
                        var $html = '';
                        for (var i = 0; i < requset_data.length; i++) {
                            $html += '<input type="radio" name="card" value="' + requset_data[i].id + '" title="银行卡：' + requset_data[i].card_number + '【' + requset_data[i].bank_branch + '】">'
                        }
                        return '<div>' + $html + '</div><button lay-href="account/account_card" class="layui-btn layui-btn-sm">添加提现卡</button>';
                    });
                    form.render();
                }
            }
        });

        // 地址
        admin.req({
            url: layui.setter.api_base_url + 'agent/api/my/address/list'
            , type: 'GET'
            , success: function (data) {
                var requset_data = data.data.data;
                if (!requset_data) {
                    $('.withdrawal_address').html('<button lay-href="account/account_address" class="layui-btn layui-btn-sm">添加地址</button>');
                } else {
                    $('.withdrawal_address').html(function () {
                        var $html = '';
                        for (var i = 0; i < requset_data.length; i++) {
                            $html += '<input type="radio" name="address" value="' + requset_data[i].id + '" title="' + requset_data[i].province+requset_data[i].city+requset_data[i].town+requset_data[i].address+'">'
                        }
                        return '<div>' + $html + '</div><button lay-href="account/account_address" class="layui-btn layui-btn-sm">添加地址</button>';
                    });
                    form.render();
                }
            }
        });

        function submitGo (data,money,withdrawal) {
            if (money < withdrawal) {
                layer.msg('您已超过可提现金额', {
                    offset: '15px'
                    , icon: 2
                    , time: 1000
                }, function () {
                });
            } else if (!data.field.card) {
                layer.msg('请选择银行卡', {
                    offset: '15px'
                    , icon: 2
                    , time: 1000
                }, function () {
                });
            } else if (!data.field.address) {
                layer.msg('请选择地址', {
                    offset: '15px'
                    , icon: 2
                    , time: 1000
                }, function () {
                });
            } else {
                // 提交表单
                var datas = {
                    'card_id': data.field.card,
                    'address_id': data.field.address,
                    'usd': withdrawal,
                };

                admin.req({
                    url: layui.setter.api_base_url + 'agent/api/my/commission/withdraw'
                    , type: 'POST'
                    , data: datas
                    , success: function (res) {
                        layer.msg(res.msg, {
                            offset: '15px'
                            , icon: 1
                            , time: 1000
                        }, function () {
                            if (res.code == 200) {
                                location.hash = '/account/account_record';
                            }
                        });
                    }
                    , error: function (res) {
                        layer.msg('提现申请失败。', {
                            offset: '15px'
                            , icon: 1
                            , time: 1000
                        });
                    }
                });
            }
        }
    });
</script>
