<script type="text/html" template>
  <link rel="stylesheet" href="{{ layui.setter.base }}style/account.css?v={{ layui.admin.v }}-1" media="all">
</script>
<title>我的账户</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>我的管理</cite></a>
        <a><cite>我的账户</cite></a>
    </div>
</div>
<div class="layui-fluid layui-account">
  <div class="layui-row layui-col-space15"> 
    <div class="layui-col-md5"> 
      <div class="layui-card">
          <div class="layui-card-body">
              <div class="acount_img"><img src="" alt=""></div>
              <div class="name"><span class="layui-badge-dot layui-bg-green"></span>&nbsp;&nbsp;li</div>
              <ul class="site-doc-color">
                <li style="background-color: #5FB878;">
                  <p>总收益</p>
                  <p>1000.00</p>
                </li>
                <li style="background-color: #5FB878;">
                  <p>可收益</p>
                  <p>1000.00</p>
                </li>
              </ul>     
            </div>
        </div>
    </div>
     <div class="layui-col-md7">
      <div class="layui-card">
        <div class="layui-card-header" style="text-align: left">账户信息</div>
        <div class="layui-card-body layui-text">
          <table class="layui-table" style="text-align: left" id="demo">
            <tbody>
              <tr>
                <td>账户状态</td>
                <td >
                  <script type="text/html" template>
                    v{{ layui.cache.version }}
                  </script>
                </td>
                <td>登录账户</td>
                <td>
                  <script type="text/html" template>
                    {{ layui.cache.iphone }}
                  </script>
                </td>
              </tr>
              <tr>
                <td>div代理区域</td><td></td>
                <td>我的推荐码</td><td></td>
              </tr>
              <tr>
                <td>真实姓名</td><td></td>
                <td>身份证号</td><td></td>
              </tr>
              <tr>
                <td>注册时间</td><td></td>
                <td>剩余激活码</td><td></td>
              </tr>
              <tr>
                <td>邀请用户数</td><td></td>
                <td>激活用户数</td><td></td>
              </tr>
              <tr> <td>代理等级</td><td>88888888 / 66666666</td>
                <td>代理等级</td><td>88888888 / 66666666</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>

<script>
    layui.use(['table'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;

        form.render();
        //执行渲染 （实例 -- 方法渲染）

        table.render({
            elem: '#demo' //指定原始表格元素选择器（推荐id选择器）
            ,url: 'json/account/account_updat.json'
        });
    });
</script>

