<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/treetable.css?v={{ layui.admin.v }}-1" media="all">
</script>

<title>我的提现卡</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>我的管理</cite></a>
        <a><cite>我的提现卡</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-userfront-formlist">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <button class="layui-btn" id="btn-search">&nbsp;&nbsp;新建&nbsp;&nbsp;</button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <table id="demo" lay-filter="test"></table>
        </div>
    </div>
</div>

<script>
    layui.use(['laydate', 'form', 'table'], function () {
        var $ = layui.jquery;
        var laydate = layui.laydate; // 选择日期和时间组件
        var form = layui.form;
        var table = layui.table;

        form.render();
        laydate.render({
            elem: '#test6'
            , range: true
        });

        //执行渲染 （实例 -- 方法渲染）

        table.render({
            elem: '#demo' //指定原始表格元素选择器（推荐id选择器）
            ,url: 'json/account/account_card.json'
            ,page: false // 开启分页
            ,cols: [[
                {field: 'id', title: '序号'}
                ,{field: 'type', title: '类型'}
                ,{field: 'code', title: '账号'}
                ,{field: 'bank_name', title: '银行名'}
                ,{field: 'bank_zhihang', title: '开户支行'}
                ,{field: 'bank_sheng', title: '银行所在省'}
                ,{field: 'bank_shi', title: '银行所在市'}
                ,{field: 'status', title: '状态'}
                ,{field: 'note', title: '操作'}
            ]], //设置表头
        });
    });
</script>
