<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/treetable.css?v={{ layui.admin.v }}-1" media="all">
</script>

<title>我的客户</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>客户管理</cite></a>
        <a><cite>我的客户</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-userfront-formlist">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">激活状态：</label>
                    <div class="layui-input-block">
                    <select name="status">
                        <option value="">全部</option>
                        <option value="1">已激活</option>
                        <option value="0">未激活</option>
                    </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">注册时间：</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="test6" placeholder=" - ">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">姓名：</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" placeholder="请输入关键字" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" id="btn-search">&nbsp;&nbsp;搜索&nbsp;&nbsp;</button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <table id="demo" lay-filter="test"></table>
        </div>
    </div>
</div>

<script>
    layui.use(['laydate', 'form', 'table'], function () {
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var form = layui.form;
        var table = layui.table;

        form.render();
        laydate.render({
            elem: '#test6'
            , range: true
        });

        //执行渲染

        table.render({
            elem: '#demo' //指定原始表格元素选择器（推荐id选择器）
            ,url: 'json/member/customer_list.json'
            ,cols: [[
                {field: 'id', title: '序号',}
                ,{field: 'type', title: '客户类型'}
                ,{field: 'phone', title: '手机号'}
                ,{field: 'nickname', title: '客户昵称'}
                ,{field: 'name', title: '财富顾问'}
                ,{field: 'created_at', title: '注册时间'}
                ,{field: 'status', title: '是否激活'}
                ,{field: 'updated_at', title: '激活时间'}
                , {
                    field: 'operation', width: 100, align: 'center', templet: function (d) {
                        return '<button class="layui-btn layui-btn-xs">我要升级</button>';
                    }, title: '操作'
                }
            ]], //设置表头
        });
    });
</script>
