<title>我的客户</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>客户管理</cite></a>
        <a><cite>我的客户</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-userfront-formlist">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">激活状态：</label>
                    <div class="layui-input-block">
                    <select name="type">
                        <option value="">全部</option>
                        <option value="1">已激活</option>
                        <option value="0">未激活</option>
                    </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">注册时间：</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="time" id="time" placeholder=" - ">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">姓名：</label>
                    <div class="layui-input-block">
                        <input type="text" name="nickname" placeholder="请输入关键字" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" id="btn-search" lay-submit lay-filter="*">&nbsp;&nbsp;搜索&nbsp;&nbsp;</button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <table id="demo" lay-filter="test"></table>
        </div>
    </div>
</div>

<script>
    layui.use(['laydate', 'form', 'table', 'admin'], function () {
        var $ = layui.jquery
            ,laydate = layui.laydate
            ,form = layui.form
            ,table = layui.table
            ,admin = layui.admin
            ,searchData = [];

        form.render();
        form.on('submit(*)', function (data) {
            searchData = data.field;
            if (!searchData.time == "") {
                searchData.time = searchData.time.split(' - ');
            }
            tableData();
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        laydate.render({
            elem: '#time'
            , range: true
        });
        //执行渲染 （实例 -- 方法渲染）


        function tableData() {
            table.render({
                elem: '#demo' //指定原始表格元素选择器（推荐id选择器）
                , url: layui.setter.api_base_url + 'agent/api/customer/list'
                , method: 'GET'
                , page: true // 开启分页
                , where: searchData
                , response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 200 //规定成功的状态码，默认：0
                    , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                    , countName: 'count' //规定数据总数的字段名称，默认：count
                    , dataName: 'data'//规定数据列表的字段名称，默认：data
                }
                , cols: [[
                    {field: 'id', title: '序号',}
                    ,{field: 'type', title: '客户类型', templet: function (d) {
                            return d.user.type == 1 ? '普通用户' : (d.user.type == 2 ? '财富顾问' : '普通用户');
                        }}
                    ,{field: 'phone', title: '手机号', templet: function (d) {
                            return d.user.phone;
                        }}
                    ,{field: 'nickname', title: '客户昵称', templet: function (d) {
                            return d.user.nickname;
                        }}
                    ,{field: 'parent_name', title: '财富顾问', templet: function (d) {
                            return d.user_parent  ? d.user_parent.nickname : '';
                        }}
                    ,{field: 'created_at', title: '注册时间'}
                    ,{field: 'activation', title: '是否激活', templet: function (d) {
                            return d.user.activation == 1 ? '激活' : '未激活';
                        }}
                    ,{field: 'created_at', title: '激活时间'}
                    ,{field: 'operation', width: 140, align: 'center',templet: function (d) {
                            if (d.user.type == 1) {
                                return '<a class="layui-btn layui-btn-sm" lay-event="up_level" id="up_level">升级财富顾问</a>';
                            } else {
                                return '<a class="layui-btn layui-btn-sm layui-btn-disabled">升级财富顾问</a>';
                            }

                        }, title: '操作'}
                ]], //设置表头
            });
        }

        tableData();

        table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            // var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            // var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'up_level') { //删除
                layer.confirm(
                    '是否升级', {
                        btn: ['是', '否'] //可以无限个按钮
                    }, function (index, layero) {
                        admin.req({
                            url: layui.setter.api_base_url + 'agent/api/customer/lift'
                            , type: 'POST'
                            , data: {'user_id': obj.data.user_id}
                            , success: function (data) {
                                if (data.code == 200) {
                                    layer.msg(data.msg, {
                                        offset: '15px'
                                        , icon: 1
                                        , time: 1000
                                    });
                                    tableData();
                                    layer.closeAll('page'); //关闭信息框
                                } else {
                                    layer.msg(data.msg, {
                                        offset: '15px'
                                        , icon: 1
                                        , time: 1000
                                    });
                                }
                            },
                            error: function (error) {
                                console.log(error);
                            }
                        });
                    });
            }
        });
    });
</script>
