<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/treetable.css?v={{ layui.admin.v }}-1" media="all">
</script>

<title>间接财富顾问</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>客户管理</cite></a>
        <a><cite>间接财富顾问</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-userfront-formlist">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">注册时间：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="time" class="layui-input" id="test6" placeholder=" - ">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">姓名：</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" placeholder="请输入关键字" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" id="btn-search" lay-submit lay-filter="*">搜索</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
        <div class="layui-card-body">
            <table id="demo" lay-filter="test"></table>
        </div>
    </div>
</div>

<script>
    layui.use(['laydate', 'form', 'table'], function () {
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var form = layui.form;
        var table = layui.table;
        var searchData = [];

        form.render();
        form.on('submit(*)', function (data) {
            searchData = data.field;//输入的值
            if (!searchData.time == "") {
                searchData.time = searchData.time.split(' - ');
            }
            tableData();
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        laydate.render({
            elem: '#test6'
            , range: true
        });

        //执行渲染


        function tableData(){
            console.log(123)
            table.render({
                elem: '#demo' //指定原始表格元素选择器（推荐id选择器）
                , url: layui.setter.api_base_url + 'agent/api/indirect/wealth/list'
                , method: 'get'
                , dataType: "json"
                , page: true // 开启分页
                , where: searchData
                , response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 200 //规定成功的状态码，默认：0
                    , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                    , countName:'count' //规定数据总数的字段名称，默认：count
                    , dataName: 'data' //规定数据列表的字段名称，默认：data
                }
                ,cols: [[
                    {field: 'type', title: '序号'}
                    ,{field: 'phone', title: '手机号'}
                    ,{field: 'nickname', title: '昵称'}
                    ,{field: 'realname', title: '姓名'}
                    ,{field: 'total_balance', title: '码钱总收益', templet:function(d){
                        return d.wallet.total_balance;
                    }}
                    ,{field: 'total_commission', title: '佣金总收益', templet:function(d){
                        return d.wallet.total_commission
                    }}
                    ,{field: 'activation', title: '激活会员', templet:function(d){
                            return d.wallet.used_tickets
                        }}
                    ,{field: 'remaining_tickets', title: '剩余码数', templet:function(d){
                        return d.wallet.remaining_tickets
                        }
                    }
                    ,{field: 'created_at', title: '注册时间'}
                ]], //设置表头
            });
        }
        tableData()
    });
</script>
