<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/treetable.css?v={{ layui.admin.v }}-1" media="all">
</script>

<title>我的代理</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>客户管理</cite></a>
        <a><cite>我的代理</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-userfront-formlist">
            <div class="layui-form-item" style="text-align: right">
                <div class="layui-inline" style="float: left">
                    <div class="layui-btn-group">
                        <button class="layui-btn" id="btn-expand">全部展开</button>
                        <button class="layui-btn" id="btn-fold">全部折叠</button>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-block">
                        <input type="text" name="username" placeholder="请输入关键字" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" id="btn-search" lay-submit lay-filter="*">&nbsp;&nbsp;搜索&nbsp;&nbsp;
                    </button>

                    <button class="layui-btn">重置</button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <table id="auth-table" class="layui-table" lay-filter="auth-table"></table>
        </div>
    </div>
</div>

<script>
    layui.use(['table', 'treetable', 'element'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var treetable = layui.treetable;
        var element = layui.element;
        var form = layui.form;
        var searchData = [];

        form.on('submit(*)', function (data) {
            searchData = data.field;
            tableData();
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        // 渲染表格
        layer.load(2);
        var token = JSON.parse(localStorage.getItem('layuiAdmin'))['access_token'];

        function tableData() {
            treetable.render({
                treeColIndex: 1,
                treeSpid: -1,
                treeIdName: 'agent_id',
                treePidName: 'parent_id',
                elem: '#auth-table',
                url: layui.api + 'agent/api/agent/list',
                where: searchData,
                headers: {'Authorization': 'Bearer ' + token},
                method: 'get',
                page: false,
                cols: [[
                    {type: 'numbers'},
                    {
                        field: 'nickname', minWidth: 250, templet: function (d) {
                        }, title: '代理'
                    },
                    {
                        field: 'position', title: '角色', templet: function (d) {
                            return d.position == 1 ? '合联创始人' : (d.position == 2 ? '省级品牌中心' : ((d.position == 3 ? '城市品牌商' : ((d.position == 4 ? '城市加盟商' : '')))));
                        }
                    },
                    {field: 'realname', title: '姓名'},
                    {field: 'nickname', title: '用户名'},
                    {field: 'total_balance', title: '码钱'},
                    {field: 'total_commission', title: '佣金'},
                    {field: 'used_tickets', title: '激活会员'},
                    {
                        field: 'remaining_tickets', width: 250, templet: function (d) {
                            return '<div class="layui-progress layui-progress-big" style="height: 15px;margin-top: 6px" lay-showPercent="yes"><div class="layui-progress-bar" style="height: 15px;" lay-percent="' + d.used_tickets + '/' + (d.used_tickets + d.remaining_tickets) + '"></div></div>'
                        }, title: '剩余激活码'
                    },
                    {field: 'created_at', title: '注册时间'},
                    {
                        field: 'status', title: '状态', templet: function (d) {
                            return d.status == 1 ? '激活' : '未激活';
                        }
                    },
                ]],
                done: function () {
                    layer.closeAll('loading');
                    element.init();
                }
            });
        }

        tableData();

        $('#btn-expand').click(function () {
            treetable.expandAll('#auth-table');
        });

        $('#btn-fold').click(function () {
            treetable.foldAll('#auth-table');
        });

    });
</script>
<script type="text/html" id="selectTpl">
    <div class="layui-progress layui-progress-big" style="height: 15px;margin-top: 6px" lay-showPercent="yes">
        <div class="layui-progress-bar" style="height: 15px;" lay-percent="5000/7000"></div>
    </div>
</script>
