<title>我的财富顾问</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>客户管理</cite></a>
        <a><cite>我的财富顾问</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-userfront-formlist">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <button class="layui-btn" id="add_adviesr">＋新增</button>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">注册时间：</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="test6" placeholder=" - " name="time">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">姓名：</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" placeholder="请输入关键字" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" id="btn-search" lay-submit lay-filter="search">搜索</button>
                    <button class="layui-btn  layui-btn-primary" type="reset">重置</button>
                </div>
            </div>
        </form>
        <div class="layui-card-body">
            <table id="demo" lay-filter="test"></table>

            <script type="text/html" id="backTickets">
                <button class="layui-btn layui-btn-xs" lay-event="down_level" id="down_level">回收激活码</button>
            </script>
        </div>
    </div>
</div>

<script type="text/html" id="layui-form">
    <div class="layui-form" style="margin-right: 50px;margin-top: 10px;">
        <div class="layui-form-item">
            <label class="layui-form-label">手机号：</label>
            <div class="layui-input-block">
                <input type="text" id="phone" name="phone" lay-verify="required|phone|number" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                <div class=" layui-word-aux">（APP的登录账户，请输入有效的手机号码，默认密码手机号后6位）</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">验证码：</label>
            <div class="layui-input-block">
                <input type="text" name="captcha" placeholder="请输入短信验证码" autocomplete="off" class="layui-input" style="width: 300px;display: inline-block;">
                <button class="layui-btn" lay-submit lay-filter="code" style="float: right;" id="code"> 发送验证码 </button>
                <button class="layui-btn layui-btn-disabled" style="float: right;display: none" id="is_code"></button>
                <div class=" layui-word-aux">（手机验证码）</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">真实姓名：</label>
            <div class="layui-input-block">
                <input type="text" name="realname" placeholder="请输入真实姓名" autocomplete="off" class="layui-input">
                <div class=" layui-word-aux">（真实姓名）</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号：</label>
            <div class="layui-input-block">
                <input type="text" name="identification" placeholder="请输入身份证号" autocomplete="off" class="layui-input">
                <div class=" layui-word-aux">（身份证号）</div>
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 38px">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submit_go">立即提交</button>
                <button type="reset" id="reset_btn" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>
</script>
<script>
    layui.use(['laydate', 'form', 'table', 'admin'], function () {
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var searchData = [];

        form.render();
        form.verify({
            code: [
                /^[\S]{4}$/
                ,'验证码必须4位，且不能出现空格'
            ],
            // idcard: [
            //     /(^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$)|(^[1-9]\d{5}\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}$)/
            //     ,'请输入正确的身份证号码'
            // ]
        });
        // 短信请求
        form.on('submit(code)', function(data) {

            admin.req({
                url: layui.setter.api_base_url + 'api/public/captcha'
                , type: 'POST'
                , data: data.field
                , success: function (data) {
                    $('#code').hide();
                    $('#is_code').show();
                    var time = 60;
                    $('#is_code').html('请' + time + '秒后重试');
                    var timeid = setInterval(function(){
                        $('#is_code').html('请' + time-- + '秒后重试');
                        if (time == -1) {
                            window.clearInterval(timeid);
                            $('#code').show();
                            $('#is_code').hide();
                        }
                    },1000);
                },
                error: function (error) {
                    alert('请求失败')
                }
            });
            return false
        });
        form.on('submit(submit_go)', function(data){
            if (!data.field.captcha) {
                layer.msg('请填写验证码', {
                    offset: '15px'
                    , icon: 2
                    , time: 1000
                });
            } else if (!data.field.realname) {
                layer.msg('请填写真实名字', {
                    offset: '15px'
                    , icon: 2
                    , time: 1000
                });
            } else if (!data.field.identification) {
                layer.msg('请填写身份证信息', {
                    offset: '15px'
                    , icon: 2
                    , time: 1000
                });
            } else {
                admin.req({
                    url: layui.setter.api_base_url + 'agent/api/wealth/add'
                    , type: 'POST'
                    , data: data.field
                    , success: function (responce) {
                        if (responce.succ === true) {
                            layer.msg(responce.msg, {
                                offset: '15px'
                                , icon: 1
                                , time: 1000
                            });
                            layer.closeAll()
                            tableData();
                        } else {
                            layer.msg(responce.msg, {
                                offset: '15px'
                                , icon: 2
                                , time: 1000
                            });
                        }
                    },
                    error: function (error) {
                        alert('请求失败')
                    }
                });
                return false
            }
        });
        // 搜索
        form.on('submit(search)', function (data) {
            searchData = data.field;//输入的值
            if (!searchData.time == "") {
                searchData.time = searchData.time.split(' - ');
            }
            tableData()
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        laydate.render({
            elem: '#test6'
            , range: true
        });

        //执行渲染
        function tableData(){
            table.render({
                elem: '#demo' //指定原始表格元素选择器（推荐id选择器）
                ,url: layui.setter.api_base_url + 'agent/api/wealth/list'
                , method: 'get'
                , dataType: "json"
                , page: true // 开启分页
                , where: searchData
                , response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 200 //规定成功的状态码，默认：0
                    , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                    , countName:'count' //规定数据总数的字段名称，默认：count
                    , dataName: 'data' //规定数据列表的字段名称，默认：data
                }
                ,cols: [[
                    {type: 'numbers'}
                    ,{field: 'phone', title: '手机号'}
                    ,{field: 'nickname', title: '昵称'}
                    ,{field: 'total_balance', title: '码钱',templet:function(d){
                            return d.wallet.total_balance;
                        }}
                    ,{field: 'total_commission', title: '佣金',templet:function(d){
                            return d.wallet.total_commission;
                        }}
                    ,{field: 'status', title: '激活会员',templet:function(d){
                            return d.activation == 1 ? '激活' : '未激活';
                        }}
                    ,{field: 'remaining_tickets', title: '剩余激活码数',templet:function(d){
                            return d.wallet.remaining_tickets;
                        }}
                    ,{field: 'created_at', title: '注册时间'}
                    ,{field: 'updated_at', title: '升级时间'}
                    // , {
                    //     field: 'operation', width: 100, align: 'center', templet: '#backTickets',title: '操作'
                    // }
                ]], //设置表头
            });
        }
        tableData()
        $('#add_adviesr').click(function () {
            layer.open({
                type: 1,
                area: ['600px', '480px'],
                content: $('#layui-form').html(),
            });

        });
        table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'down_level'){ //删除
                layer.confirm(
                    '是否降级', {
                        btn: ['是', '否'] //可以无限个按钮
                    }, function (index, layero) {
                        admin.req({
                            url: layui.setter.api_base_url + 'agent/api/wealth/down'
                            , type: 'POST'
                            , data: {'user_id': obj.data.user_id}
                            , success: function (data) {
                                if (data.code == 200) {
                                    layer.msg(data.msg, {
                                        offset: '15px'
                                        , icon: 1
                                        , time: 1000
                                    });
                                    layer.closeAll('page'); //关闭信息框
                                    tableData();
                                } else {
                                    layer.msg(data.msg, {
                                        offset: '15px'
                                        , icon: 1
                                        , time: 1000
                                    });
                                }
                            },
                            error: function (error) {
                                alert('请求失败')
                            }
                        });
                    });
            }
        });
    });
</script>
<style>
    body .demo-class .layui-layer-btn .layui-layer-btn0 {
        background: #009688;
        border: #009688;
    }

    body .demo-class .layui-layer-btn .layui-layer-btn0:hover {
        opacity: .8;
    }

</style>
